    /*** General ***/


    * {
 

        /* Variables pour les couleurs */
            $light-green: #99E2D0;
            $green-ft:#008766;
            $black: #101010;
            $grey:#353535;
            $light-grey:#7E7E7E;
            $purple: #9356DC;
            $pink: #FF79DA;
            $button-gradient: linear-gradient(to top, $purple, $pink);
            $background: #F6F6F6;
        /* Définition de la police */
            font-family: 'Roboto', sans-serif;
            
        /* Centrer le contenu du corps de la page */
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
            background-color: $background;
            
            header {    
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 100%;
                i{
                    position: absolute;
                    text-decoration: none;
                    color: $grey;
                    font-size: 23px;
                    left: 23px;
                    top: 22px;    
                }
                .logo {
                   margin: 15px;  
                }

            }   
            .restaurant_img{
                position:absolute;
                top: 62px;
                z-index: -1; // en arrière-plan
                height: 300px;
                width: 100%;
                object-fit:cover;

            }
            .menu{
                position: relative;
                width: 100%;
                top: 255px; // Position sous &_img
                margin: 0px 50%; // Marge (horizontale centrée)
                border-radius: 40px 40px 0px 0px;
                background-color: $background;

                                
               

                &__title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h1{
                        font-family: 'Shrikhand', cursive;
                        font-weight: 400;
                        font-size: 28px;
                        margin: 30px 5% 0px 5%;
                    }
                               

                    #heart{
                        font-size: 30px;
                        margin-right: 40px;
                        margin-top: 30px;
                        font-size: 200%;
                        cursor: pointer;
                        // Styles au survol de l'icône
                        &:hover{
                            font: var(--fa-font-solid); // Police FontAwesome solide
                            font-size: 200%;
                            background: linear-gradient(to top, #9356DC, #FF79DA);
                            -webkit-background-clip: text; // Applique le dégradé sur l'icon
                            -webkit-text-fill-color: transparent; // Rend l'icon transparent pour montrer le dégradé
                        }
                    }

                    
                }
                h2{
                    font-size: 16px;
                    font-weight: 300;
                    margin: 0 5% 12px 5%;
                    margin-top: 40px;
                    
                    &::after{  // Bordure inférieure (soulignement)
                        content: "";
                        display: block;
                        width: 40px;
                        padding-top: 3px;
                        border-bottom: 3px solid $light-green;
                    }
                }
                
                
                @keyframes fadeIn {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }
                &__part{
                    opacity: 0;
                    animation: fadeIn 1s forwards;
                    &:nth-of-type(2) {
                        .choice__card{
                            opacity: 0;
                            animation: fadeIn 1s forwards;
                            &:nth-child(1) {
                                animation-delay: 0.2s;
                            }
                            &:nth-child(2) {
                                animation-delay: 0.4s;
                            }
                            &:nth-child(3) {
                                animation-delay: 0.6s;
                            }
                            &:nth-child(4) {
                                animation-delay: 0.8s;
                            }
                        }
                    }
                    
                    &:nth-of-type(3) {
                        .choice__card{
                            opacity: 0;
                            animation: fadeIn 1s forwards;
                            &:nth-child(1) {
                                animation-delay: 1s;
                            }
                            &:nth-child(2) {
                                animation-delay: 1.2s;
                            }
                            &:nth-child(3) {
                                animation-delay: 1.4s;
                            }
                            &:nth-child(4) {
                                animation-delay: 2s;
                            }
                        }
                    }
                    
                    &:nth-of-type(4) {
                        .choice__card{
                            opacity: 0;
                            animation: fadeIn 1s forwards;
                            &:nth-child(1) {
                                animation-delay: 2.2s;
                            }
                            &:nth-child(2) {
                                animation-delay: 2.4s;
                            }
                            &:nth-child(3) {
                                animation-delay: 2.6s;
                            }
                            &:nth-child(4) {
                                animation-delay: 2.8s;
                            }
                        }
                    }

                }
                .choice__card{
                    width: 87%;
                    height: 70px;
                    line-height: 0;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: row;
                    margin: 0 5% 12px 5%;
                    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
                    padding: 5px 0px 5px 15px;
                    background-color: white;
                    overflow: hidden;  // Cache le contenu débordant
                    


                    
                    .choice{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        

                        &:hover + .icon__container {
                             animation: icon__check 0.2s ease-in-out both; // Animation menu
                            
                        }


                        &__title{
                            font-weight: 600;
                            font-size: 18px;
                        }
                        
                        .details{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            
                            &__desc{
                                font-size: 15px;
                                font-weight: 300;
                                
                            }
                            &__price{
                                font-weight: 700;
                                color: $grey;
                                margin-right: 2%;
                                
                            }
                        }    

                    }
                    .icon__container  {
                            color: white;
                            align-self: center;
                            font-size: 0px;  // Taille de police initiale pour l'animation
                            padding: 100% 0%; // Padding initiale d'animation
                            background-color: $light-green;
                        }
                        
                        @keyframes icon__check {
                            
                            from{
                                // Début de l'animation (état initial)
                            }

                            to{
                                font-size: 20px; // Taille de la police à la fin de l'animation
                                padding: 100% 3%; // Padding final pour l'animation
                            }

                        }
                    }

                }
            }     

        
            .button {
                display: flex;
                align-items: center;
                width: 186px;
                height: 50px;
                border-radius: 25px;
                background: var(--Button-Gradient, linear-gradient(193deg, $purple -11.44%, $pink 123.93%));
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                margin: 5% auto;
                transition: filter 0.3s ease-in;
                
                &:hover { // Lors du survol, augmente la luminosité du bouton de 50%
                    filter: brightness(150%);               
                }
                a{
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    flex-grow: 1; // remplit l'espace disponible dans le bouton
                }
                
            }
            
            

            footer{
                position: relative;
                display: flex;
                flex-direction: column;
                top: 255px;
                width: 100%; /* Largeur totale de la page */
                height: 186px;
                background-color: $grey;
                color: white;
                padding-left: 10%;
                font-weight: 700;
        
                h2{
                    font-family: 'Shrikhand', cursive;
                    font-weight: 400;
                    font-size: 18px;
                }
                .content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 7px;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                    &__iconRestaurant{
                        font-weight: 500;
                        font-size: 16px;
                        &::before{
                            content: "\f2e7";
                            margin-right: 10px;
                            font-family: FontAwesome;
                            font-size:  15px ;
                        }
                    }
                    &__iconPartner{
                        font-weight: 500;
                        font-size: 16px;
                        &::before{
                            content: "\f4c4";
                            margin-right: 8px;
                            font-size:  12px ;
                            font-family: FontAwesome;
                        }
                    }
                    &__icon{
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }
    }

    @media (min-width: 768px) {
        body {
            background-color: white;

            .menu{


                width: 75%;
                &__part{
                    margin: 0% 10% 0% 10%;
                }
                &__title{
                    justify-content: center;
                }
                
                h2{
                    margin: 2.5rem 15% 0.75rem 15%;
                }
                
                .choice_card{
                    width: 70%;
                    margin: 0 15% 0.75rem 15%;
                    white-space: nowrap; // Empêche le texte à l'intérieur de .choice_card de passer à la ligne
                }

            }
            


            footer{
                display: flex;
                flex-direction: row-reverse;
                font-weight: 700;
                gap: 5%;
                height: 114px;

                h2{
                    font-family: 'Shrikhand', cursive;
                    padding-right: 10%;
                    font-weight: 400;
                    font-size: 18px;
                    margin-bottom: 1.5%;
                }
                .content{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;    
                    padding-bottom: 1.5%;
                    gap: 20px;
                    &__iconPartner{
                        margin-right: 30px;
                    }
                }

                h2, .content{
                    align-self: flex-end;
                }
            }
        }
            
    }


