    /*** General ***/


    * {


    /* Variables pour les couleurs */
        $green-bg: #99E2D0;
        $green-ft:#008766;
        $purple: #9356DC;
        $black: #101010;
        $location:#353535;
        $iconnav:#7E7E7E;
        $bgnav: #EAEAEA;
        $button-gradient: linear-gradient(to top, #9356DC, #FF79DA);
        $background: #F6F6F6;
    /* Définition de la police */
        font-family: 'Roboto', sans-serif;

    /* Icônes FontAwesome */
        .fa-location-dot{
            color: $location;
        }
        .fa-mobile-screen-button, .fa-list{
            color: $iconnav;
        }
        .fa-store{
            color: $purple;
        }





    /* Centrer le contenu du corps de la page */
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        /* Bases pour les cartes */
        header {    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
    
            .logo {
                margin: 15px;
               
            }

            .place { /*** Affichage inconplet (ombre) ***/
                display: flex;
                align-items: baseline;
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.50);
                p, i {
                    background-color: $bgnav;
                }
                background-color: $bgnav;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                gap: 15px;
        }
        }
                
        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1{
                font-weight: 700;
                font-size: 24px;
            }
            p{
                font-weight: 300;
                font-size: 18px;
            }
        }
    
        .button {
            display: flex;
            align-items: center; 
            width: 218px;
            height: 50px;
            border-radius: 25px;
            background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    
            a{
                text-decoration: none;
                color: white;
                font-size: 16px;
                font-weight: 500;
                flex-grow: 1; /* Etendre le texte sur toute la largeur */
            }
            
        }
        
        .option {
            display: flex;
            flex-direction: column;        
            
            &__choice {
                display: flex;
            flex-direction: row;
            margin-bottom: 3%;
            .num {
                font-size: 14.18px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                color: white;
                background-color: $purple;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            &Button {
                display: flex;
                flex-direction: row;
                border-radius: 20px;
                background: var(--Background, #F6F6F6);
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                width: 85vw;
                gap: 5%;
                align-items: center;
                
                i{
                    margin-left: 5%;
                }
            }
        }
    }
    a.restaurant_link{
        text-decoration: none;
        color: black;
    } 
    .restaurants {
        
        &__card {
            display: flex;
            flex-direction: column;
            background-color: white;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
            border-radius: 20px;
            text-decoration: none;
            color: black;
            margin-bottom: 10%;
            &Visual {
                width: 85vw;
                height: 168px;
                border-radius: 1.25rem 1.25rem 0rem 0rem;
                object-fit:cover;
                
            }
            &Content{
                display: flex;
                flex-direction: column;
                margin-left: 5%;
                height: 83px;
                
            }       /*** Affichage inconplet 
           i{   } ***/
        }
        
    }
    footer{
        display: flex;
        position: fixed; /* Fixer le footer en bas de la page */
        bottom: 0; /* Le placer en bas de la page */
        width: 100%; /* Largeur totale de la page */
      
        &__content{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
        }
        h2{
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            font-style: italic;
            font-size: 18px;
        }

        background-color: $location;
        color: white;
        width: 100vw;
    }
}
}
